
<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Keywords"/>
<meta name="Description"  />

<title></title>



<link rel="shortcut icon" href="favicon.ico" />
<link rel="stylesheet" type="text/css" href="__CSS__BUS__/base.css" />
<link rel="stylesheet" type="text/css" href="__CSS__BUS__/style.css" />
<link rel="stylesheet" type="text/css" href="__CSS__BUS__/iconfont.css" />
<link rel="stylesheet" type="text/css" href="__CSS__BUS__/purebox.css" />
<link rel="stylesheet" type="text/css" href="__CSS__BUS__/quickLinks.css" />
<link rel="stylesheet" type="text/css" href="__CSS__PATH__/style.css" />
<script type="text/javascript" src="__JS__BUS__/jquery-1.9.1.min.js"></script><script type="text/javascript" src="__JS__BUS__/jquery.json.js"></script><script type="text/javascript" src="__JS__BUS__/transport_jquery.js"></script>
<link href="__CSS__BUS__/merchants.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="__JS__BUS__/perfect-scrollbar/perfect-scrollbar.min.css" />
<link rel="stylesheet" type="text/css" href="__JS__BUS__/calendar/calendar.min.css" />
<script type="text/javascript" src="__JS__BUS__/calendar/calendar.min.js"></script>
</head>

<body class="merchants">
     {include file="index/head"}
<div class="container settled-container settled-prog-container">
    <div class="w w1200">
        <div class="sett-process-warp clearfix">
            <div class="panel">

            
            <div class="settled-prog-warp">
                <div class="che"><img src="__IMAGE__BUS__/che.png"></div>
                <div class="spw-cont">
                    <div class="spw-tit"><h1>审核进度</h1></div>
                    {if $result['shops_application'] == 0}
                    <div class="spw-mian spw-wait">
                        <i class="spw-icon"></i>
                        <div class="spw-info">
                            <h2>
                                                                正在审核中...                                                            </h2>
                            <div class="spw-txt">
                                <p>感谢您在本店申请商家入驻！</p>
                                                                <span>期望店铺名称：<strong class="orange2">4651515</strong></span>
                                <span>店铺描述：<em></em></span>
                                                            </div>
                                <div class="setted-footer">
	                                <a href="{:url('index/index')}" class="ftx-05">返回首页</a>
	                                <a href="{:url('index/personal/orde')}" class="ftx-05">用户中心</a>
	                            </div>
                        </div>
                    </div>
                    {elseif $result['shops_application'] == 2 }
                    <div class="spw-mian spw-wait">
                        <img src="__IMAGE__BUS__/cuo.png" />
                        <div class="spw-info">
                            <h2>未通过审核</h2>
                            <br>
                            <a style="color:red;font-size:16px;">理由</a>
                            <div class="spw-txt">
                                <p>感谢您在本店申请商家入驻！</p>
                                
                                                            </div>
                                <div class="setted-footer">
	                                <a href="{:url('index/index')}" class="ftx-05">返回首页</a>
	                                
	                            </div>
                        </div>
                    </div>
                    {elseif $result['shops_application'] == 1 }
	                    <div class="spw-mian spw-wait">
	                        <img src="__IMAGE__BUS__/dui.png">
	                        <div class="spw-info">
	                            <h2>已通过审核</h2>
	                            <div class="spw-txt">
	                                <p>感谢您在本店申请商家入驻！</p>
                                	<span>期望店铺名称：<strong class="orange2">4651515</strong></span>
	                                <span>店铺描述：<em></em></span>
	                                                            </div>
	                                <div class="setted-footer">
		                                <a href="{:url('index/index')}" class="ftx-05">返回首页</a>
		                                <a href="{:url('index/personal/orde')}" class="ftx-05">用户中心</a>
		                            </div>
	                        </div>
	                    </div>	
                    {/if}
                </div>
            </div>

	    </div>
	</div>
    </div>
</div>

<div class="footer settled-footer">
	<div class="dsc-copyright">
		<div class="w w1200">
			 
			<p class="footer-ecscinfo pb10">
				 
				<a href="index.php" >首页</a> 
				 
				| 
				 
				 
				<a href="article.php?id=2" >隐私保护</a> 
				 
				| 
				 
				 
				<a href="article.php?id=4" >联系我们</a> 
				 
				| 
				 
				 
				<a href="article.php?id=1" >免责条款</a> 
				 
				| 
				 
				 
				<a href="article.php?id=5" >公司简介</a> 
				 
				| 
				 
				 
				<a href="merchants.php"  target="_blank" >商家入驻</a> 
				 
				| 
				 
				 
				<a href="message.php" >意见反馈</a> 
				 
				 
			</p>
			 
						<p class="footer-otherlink">	
																<a href="http://www.ecmoban.com" target="_blank" title="模板堂">模板堂</a>
				 
				| 
				 
								<a href="http://www.ecjia.com" target="_blank" title="ECJia">ECJia</a>
				 
				| 
				 
								<a href="http://www.ectouch.cn" target="_blank" title="ECTouch">ECTouch</a>
				 
				| 
				 
								<a href="http://help.ecmoban.com" target="_blank" title="电商学院">电商学院</a>
				 
											</p>
						 
			<p class="copyright_info">ICP备案证书号:<a href="http://www.miibeian.gov.cn/" target="_blank">DSC00000123</a> <a href="http://www.dscmall.cn/" target="_blank">POWERED BY大商创2.0</a></p>
					</div>
	</div>
    
    
    <div class="hidden">
        <input type="hidden" name="seller_kf_IM" value="" rev="" ru_id="" />
        <input type="hidden" name="seller_kf_qq" value="349488953" />
        <input type="hidden" name="seller_kf_tel" value="4000-000-000" />
        <input type="hidden" name="user_id" value="66" />
    </div>
</div>

<script type="text/javascript" src="__JS__BUS__/scroll_city.js"></script></body>
<script type="text/javascript" src="__JS__BUS__/jquery.divbox.js"></script><script type="text/javascript" src="__JS__BUS__/common.js"></script><script type="text/javascript" src="__JS__BUS__/shopping_flow.js"></script><script type="text/javascript" src="__JS__BUS__/region.js"></script><script type="text/javascript" src="__JS__BUS__/utils.js"></script><script type="text/javascript" src="__JS__BUS__/perfect-scrollbar/perfect-scrollbar.min.js"></script><script type="text/javascript" src="themes/ecmoban_dsc2017/__JS__BUS__/dsc-common.js"></script>
<script type="text/javascript" src="themes/ecmoban_dsc2017/__JS__BUS__/jquery.purebox.js"></script>
<script type="text/javascript">
var process_request = "正在处理您的请求...";
var username_exist = "";
var compare_no_goods = "您没有选定任何需要比较的商品或者比较的商品数少于 2 个。";
var btn_buy = "购买";
var is_cancel = "取消";
var select_spe = "请选择商品属性";

$(function(){
	$("#js-pre-step").click(function(){
		var pid_key=0-2;
		var step='stepSubmit';
		if(step>-1)
		{
			location.href="merchants_steps.php?step="+step+"&pid_key="+pid_key;	
		}
		else
		{
			history.go(-1);
		}
	})
});

function validate(){
	
	var contactName = document.getElementById('contactName');
	var contactPhone = document.getElementById('contactPhone');
	var contactEmail = document.getElementById('contactEmail');
	
	if(contactName && contactPhone && contactEmail){
		var name_result = _contactName();
		var phone_result = _contactPhone();
		var email_result = _contactEmail();
		if(name_result == false || phone_result == false || email_result == false){
			return false;
		}	
	}
	
	var cate_result = get_element('shoprz_type', 'shoprz_Html', 0, json_languages.merchants_step_error_one);
	
	if(cate_result == false){
		return false;
	}
	
	var title_brand_list = document.getElementById('title_brand_list');
	
	if(title_brand_list && title_brand_list.value == 0){
		var title_brand_listHTML = document.getElementById('title_brand_listHTML');
		title_brand_listHTML.innerHTML = '&nbsp;&nbsp;&nbsp;&nbsp'+json_languages.merchants_step_error_two;
		return false;
	}
	
	if(document.getElementById('subShoprz_type')){
		var subShoprz = document.getElementById('subShoprz_type');
		if(subShoprz.style.display == 'block' || subShoprz.style.display == ''){
			if(subShoprz.value == 0){
				if(document.getElementById('subShoprz_Html')){
					var subShoprz_Html = document.getElementById('subShoprz_Html');
					subShoprz_Html.innerHTML = json_languages.merchants_step_error_three;
					
					return false;
				}
			}else{
				if(document.getElementById('subShoprz_Html')){
					var subShoprz_Html = document.getElementById('subShoprz_Html');
					subShoprz_Html.innerHTML = '';
				}
			}
		}
	}
	
	var cate_result = get_element('shop_categoryMain_id', 'cate_Html', 0, json_languages.merchants_step_error_four);
	
	if(cate_result == false){
		return false;
	}else{
		
		if(document.getElementById('shop_categoryMain_id')){
			
			var seller_category = $(".seller_category").size();
			
			if(seller_category == 0){
				$("#categorySpan").removeClass("hide");
				return false;
			}else{
				$("#categorySpan").addClass("hide");
			}
		}
	}
	
	var brandName_result = get_element('brandName', 'brandNameHTML', '', json_languages.merchants_step_error_five);
	
	if(brandName_result == false){
		return false;
	}
	
	var brandFirst_result = get_element('brandFirstChar', 'brandFirstCharHTML', '', json_languages.merchants_step_error_six);
	if(brandFirst_result == false){
		return false;
	}

	var text_brandView_brandLogo = document.getElementById('textBrandLogo');
	if(text_brandView_brandLogo && text_brandView_brandLogo.value == ''){
		var brandLogo_result = get_element('brandLogo', 'textBrandLogoHTML', '', json_languages.merchants_step_error_seven);
		
		if(brandLogo_result == false){
			var textBrandLogo_result = get_element('textBrandLogo', '', '', '');
			if(textBrandLogo_result == false){
				return false;
			}
		}
	}

	var brandType_result = get_element('brandType', 'brandTypeHTML', 0, json_languages.merchants_step_error_Eight);
	
	if(brandType_result == false){
		return false;
	}
	
	var operateType_result = get_element('brand_operateType', 'operateTypeHTML', 0, json_languages.merchants_step_error_Nine);
	
	if(operateType_result == false){
		return false;
	}
	
	var brandEndTime_result = get_element('ec_brandEndTime', 'brandEndTimeHTML', '', json_languages.merchants_step_error_ten);
	
	if(brandEndTime_result == false){
		var textBrandLogo_result = get_element('brandEndTime_permanent', '', false, '', 'checkbox');

		if(textBrandLogo_result == false){
			return false;
		}
	}
	
	var rz_shopName_result = get_element('rz_shopName', 'rz_shopNameHTML', '', json_languages.merchants_step_error_Eleven);
	
	if(rz_shopName_result == false){
		return false;
	}
	
	var hopeLoginName_result = get_element('hopeLoginName', 'hopeLoginNameHTML', '', json_languages.merchants_step_error_Twelve);
	
	if(hopeLoginName_result == false){
		return false;
	}
	
	}

function $id(element) {
  return document.getElementById(element);
}

function get_element(element, elementHTML, where, textCen, type){
	if($id(element)){
		
		var where_type;
		
		if(type != 'checkbox'){
			var element = $id(element).value;
			where_type = (element == where);
		}else{
			where_type = ($id(element).checked == false);
		}
		
		if(where_type){
			if($id(elementHTML)){
				if($id(elementHTML) && elementHTML != ''){
					$id(elementHTML).innerHTML = textCen;
				}
			}
			
			return false;
		}else{
			if($id(elementHTML) && elementHTML != ''){
				$id(elementHTML).innerHTML = '';
			}
			
			return true;
		}
	}
}

function addBrandTable(obj)
{  
	var add_num = 1000;
	var num = document.getElementById('numAdd').value;
	if(num < add_num){
		var src  = obj.parentNode.parentNode;
		var idx  = rowindex(src);
		var tbl  = document.getElementById('brand-table');
		var row  = tbl.insertRow(idx + 1);
		//var cell = row.insertCell(-1);
		row.innerHTML = src.innerHTML.replace(/(.*)(addBrandTable)(.*)(\[)(\+)/i, "$1removeBrandTable$3$4-").replace('"expiredDate_permanent"','\"expiredDate_permanent'+num+'\"');
		row.innerHTML = row.innerHTML.replace('"expiredDate_permanent"','\"expiredDate_permanent'+num+'\"');
	  	
		num++;
		document.getElementById('numAdd').value = num;
	}else{
		alert(add_limit + add_num +add_ci);
	}
	
	for(i=0;i<num;i++){
		var expiredDate = document.getElementsByName("ec_expiredDateInput[]");
		expiredDate[i].id = 'expiredDateInput_' + i;
	}
}

function removeBrandTable(obj,b_fid)
{
	if(b_fid > 0){
		if (confirm(merchants_step_remove)){
		   location.href = 'merchants_steps.php?step=stepSubmit&pid_key=&ec_shop_bid=&del_bFid=' + b_fid + '&brandView=brandView';
	   }
	}else{
		var row = rowindex(obj.parentNode.parentNode);
		var tbl = document.getElementById('brand-table');
		
		tbl.deleteRow(row);
		
		var num = document.getElementById('numAdd').value;
		num--;
		document.getElementById('numAdd').value = num;
		
		for(i=0;i<num;i++){
			var radioCheckbox_val = document.getElementsByName("radioCheckbox_val[]");
			radioCheckbox_val[i].value = i;
		}
	}
}  

//永久 清空开始时间和结束时间
function get_authorizeCheckBox(f,id_start,id_end, start_date, end_date){
	if(id_start != '' || id_end != ''){
		if(id_start == ''){
			id_start = 'n_s';
		}
		if(id_end == ''){
			id_end = 'n_e';
		}
		
		var start_time = document.getElementById(id_start);
		var end_time = document.getElementById(id_end);
		
		if(f.checked){
			start_time.value = '';
			end_time.value = '';
		}else{
			if(start_date != '' || end_date != ''){
				start_time.value = start_date;
				end_time.value = end_date;
			}
		}
	}
}

function get_categoryId_permanent(f, permanent_date, dt_id){
	var categoryId = document.getElementById('categoryId_date_' + dt_id);
	if(f.checked){
		categoryId.value = '';
	}else{
		if(permanent_date != ''){
			categoryId.value = permanent_date;
		}
	}
}

function get_expiredDate_permanent(f, expiredDateInput, b_fid){
	if(b_fid > 0){
		var expiredDate = document.getElementById('expiredDateInput_' + b_fid);
		if(f.checked){
			$(f).parent().addClass("cart-checkbox-checked");
			expiredDate.value = '';
		}else{
			$(f).parent().removeClass("cart-checkbox-checked");
			if(expiredDateInput != ''){
				expiredDate.value = expiredDateInput;
			}
		}
	}else{
		var DateInput = document.getElementsByName("ec_expiredDateInput[]");
		var permanent = document.getElementsByName("ec_expiredDate_permanent[]");
		for(i=0; i<permanent.length; i++){
			if(permanent[i].checked){
				if(DateInput[i].value != ''){
					DateInput[i].value = '';
				}
			}
		}
	}
}

function get_brandEndTime_permanent(f, brandEndTime){
	var ec_brandEndTime = document.getElementById('ec_brandEndTime');
	if(f.checked){
		$(f).parent().addClass("cart-checkbox-checked");
		ec_brandEndTime.value = '';
	}else{
		$(f).parent().removeClass("cart-checkbox-checked");
		if(brandEndTime != ''){
			ec_brandEndTime.value = brandEndTime;
		}
	}
}

function get_deleteBrand(bid){
	if (confirm(merchants_step_remove)){
		location.href = 'merchants_steps.php?step=stepSubmit&pid_key=&ec_shop_bid=' + bid + '&del=deleteBrand';
	}
}
</script>
</html>