<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="Keywords" />
    <meta name="Description" />
    <title></title>
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" type="text/css" href="__CSS__BUS__/base.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__BUS__/style.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__BUS__/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__BUS__/purebox.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__BUS__/quickLinks.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__PATH__/style.css" />
    <script type="text/javascript" src="__JS__BUS__/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="__JS__BUS__/jquery.json.js"></script>
    <script type="text/javascript" src="__JS__BUS__/transport_jquery.js"></script>
    <link href="__CSS__BUS__/merchants.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="__JS__BUS__/perfect-scrollbar/perfect-scrollbar.min.css" />
    <link rel="stylesheet" type="text/css" href="__JS__BUS__/calendar/calendar.min.css" />
</head>

<body class="merchants">
    {include file="index/head"}
    <div class="header header-settled">
    </div>
    <div class="container settled-container bg-ligtGary">
        <div class="w w1200">
            <div class="sett-process-warp clearfix">
                <div class="s-p-steps">
                    <ul>
                        <li class="cur">
                            <span>1. 入驻须知</span>
                            <i class="iconfont icon-arrow-right-alt"></i>
                        </li>
                        <li class="cur">
                            <span>2. 商铺认证</span>
                            <i class="iconfont icon-arrow-right-alt"></i>
                        </li>
                        <li class="curr">
                            <span>3. 品牌认证</span>
                            <i class="iconfont icon-arrow-right-alt"></i>
                        </li>
                        <li class="last ">
                            <span>4. 等待审核</span>
                        </li>
                    </ul>
                </div>
                <div class="panel">
                    
                        <div class="panel-content">
                            <div class="bg-warp">
                                <div class="title">
                                    <span>添加品牌</span>
                                </div>
                                <div class="prompt">
                                    <div class="yel-tip">
                                        <div class="content">
                                            1. 信息提交前，请务必先了解
                                            <a class="link-blue" target="_blank" href="">大商创开放平台招商资质标准细则；</a>
                                            <br> 2. 经营品牌类信息需填项较多，建议先查看
                                            <a class="link-blue" target="_blank" href="">品牌添加注意事项</a> 再进行填写；
                                            <br> 3. 以下所需要上传电子版资质仅支持JPG、GIF、PNG格式的图片，大小不超过1M，且必须加盖企业彩色公章。
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body mt30">
                                    <div class="panel-tit"><span>新品牌信息</span></div>
                                    <div class="mc">
                                        <div class="list">
                                            <div class="item">
                                                <div class="label">
                                                    <em>*</em>
                                                    <span>品牌名称：</span>
                                                </div>
                                                <div class="value">
                                                    <input type="text" name="ec_brandName" id="brandName" size="20" value="" class="text">
                                                    <span id="checkBrandName" ></span>
                                                    <font style="color:#F00" id="brandNameHTML"></font>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="label">
                                                    <!--<em>*</em>-->
                                                    <span>字母名称：</span>
                                                </div>
                                                <div class="value">
                                                    <input type="text" name="ec_bank_name_letter" id="bank_name_letter" size="20" value="" class="text">
                                                    <span id="checkZM" ></span>
                                                    <font style="color:#F00" id="letterHTML"></font>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="label">
                                                    <em>*</em>
                                                    <span>品牌关键字：</span>
                                                </div>
                                                <div class="value">
                                                    <input type="text" name="ec_brandFirstChar" id="brandFirstChar" size="20" value="" class="text">
                                                    <span id="checkBrandFirstChar"></span>
                                                    <font style="color:#F00" id="brandFirstCharHTML"></font>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="label">
                                                    <em>*</em>
                                                    <span>品牌LOGO：</span>
                                                </div>
                                                <div class="value">
                                                    <input type="file" name="ec_brandLogo" id="brandLogo" style="margin-top:5px;">
                                                    <input type="hidden" value="" name="text_brandLogo" id="textBrandLogo">
                                                    <font style="color:#F00" id="textBrandLogoHTML"></font>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="label">
                                                    <em>*</em>
                                                    <span>品牌类型：</span>
                                                </div>
                                                <div class="value">
                                                    <select name="ec_brandType" id="brandType">
                                                        <option selected="selected" value="0">请选择..</option>
                                                        <option value="1">国内品牌</option>
                                                        <option value="2">国际品牌</option>
                                                    </select>
                                                    <span id="checkBrandType" ></span>
                                                    <font style="color:#F00" id="brandTypeHTML"></font>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="label">
                                                    <em>*</em>
                                                    <span>经营类型：</span>
                                                </div>
                                                <div class="value">
                                                    <select name="ec_brand_operateType" id="brand_operateType">
                                                        <option selected="selected" value="0">请选择..</option>
                                                        <option value="1">自有品牌</option>
                                                        <option value="2">代理品牌</option>
                                                    </select>
                                                    <span id="checkBrandOperateType" ></span>
                                                    <font style="color:#F00" id="operateTypeHTML"></font>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="label">
                                                    <em>*</em>
                                                    <span>品牌使用期限：</span>
                                                </div>
                                                <div class="value">
                                                    <input type="text" name="ec_brandEndTime" value="永久" size="20" class="text text-2 jdate narrow fl" style=" float:left;" id="ec_brandEndTime">
                                                    <div class="cart-checkbox fl ml10">
                                                        <input type="checkbox" class="ui-checkbox CheckBoxShop"  id="brandEndTime_permanent" >
                                                        <label for="brandEndTime_permanent"></label>
                                                    </div>
                                                    
                                                    <font style="color:#F00" id="brandEndTimeHTML"></font>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body mt40">
                                    <div class="panel-tit"><span>请以下品牌资质扫描件</span></div>
                                </div>
                                <div class="prompt">
                                    <div class="yel-tip">
                                        品牌资质要求：
                                        <br> 1、自有品牌请上传由国家商标总局颁发的商标注册证或商标注册申请受理通知书复印件；
                                        <br> 2、代理品牌请上传授权书或能够证明授权关系的采购类证明文件；
                                        <br> 3、进口商品类品牌请上传相应的进出口检疫检验文件；
                                        <br> 3-1、进口货物报关单：此资质填写到期日时，请贵公司根据报关单的申报日期加算一年；（例如：报关单的申报日为2013年10月1日，贵公司填写的到期日为2014年10月1日）
                                        <br> 3-2、出入境检验检疫：此资质填写到期日时，请贵公司根据检验检疫的检验日期加算一年；（例如：检验检疫的检验日为2013年10月1日，贵公司填写的到期日为2014年10月1日）
                                        <br> 4、检验报告： 此资质填写到期日时，请贵公司根据检验报告的检测日期加算一年；（例如：检验报告的检测日为2013年10月1日，贵公司填写的到期日为2014年10月1日）
                                        <br> 5、其他特殊品类请上传相应的专业资质证明文件，详细资质要求详见
                                        <a href="#" target="_blank">
                                            <<行业资质标准>></a>
                                        <br> 6、纸质资质请寄回如下地址：
                                        <br> 地址：上海市中山北路3553号伸大厦3层 （近地铁 三、四 号线金沙江路站）
                                        <br> 收件人：模板堂
                                        <br> 邮编：200060
                                        <br> </div>
                                </div>
                            </div>
                        </div>
                        <div class="btn-group">
                            <input id="nextStepBtn" class="btn" type="submit" value="保存">
                        </div>

                </div>
            </div>
        </div>
    </div>
    <div class="footer settled-footer">
        <div class="dsc-copyright">
            <div class="w w1200">
                <p class="footer-ecscinfo pb10">
                    <a href="index.php">首页</a> |
                    <a href="article.php?id=2">隐私保护</a> |
                    <a href="article.php?id=4">联系我们</a> |
                    <a href="article.php?id=1">免责条款</a> |
                    <a href="article.php?id=5">公司简介</a> |
                    <a href="=" target="_blank">商家入驻</a> |
                    <a href="message.php">意见反馈</a>
                </p>
                <p class="footer-otherlink">
                    <a href="http://www.ecmoban.com" target="_blank" title="模板堂">模板堂</a> |
                    <a href="http://www.ecjia.com" target="_blank" title="ECJia">ECJia</a> |
                    <a href="http://www.ectouch.cn" target="_blank" title="ECTouch">ECTouch</a> |
                    <a href="http://help.ecmoban.com" target="_blank" title="电商学院">电商学院</a>
                </p>
                <p class="copyright_info">ICP备案证书号:<a href="http://www.miibeian.gov.cn/" target="_blank">DSC00000123</a> <a href="http://www.dscmall.cn/" target="_blank">POWERED BY大商创2.0</a></p>
            </div>
        </div>
    </div>
</html>

<script type="text/javascript">
    //品牌名称
    $('#brandName').blur(function(){
        if ($('#brandName').val() == '') {
            $('#checkBrandName').html('<a style="color:red;">&nbsp;&nbsp;&nbsp; 品牌名称不能为空!</a>');
        }else{
            $('#checkBrandName').html('<a style="color:#00DB00;" >&nbsp;&nbsp;&nbsp; 已验证</a>');
        }
    })

    //品牌字母名称
    $('#bank_name_letter').blur(function(){
        var test = /^[a-zA-Z]{3,10}$/; 
        if (!test.test($('#bank_name_letter').val())){
            $('#checkZM').html('<a style="color:red;">&nbsp;&nbsp;&nbsp;请输入3个大小写字母以上!</a>');
        }else{
            $('#checkZM').html('<a style="color:#00DB00;">&nbsp;&nbsp;&nbsp;已验证!</a>');
        }
    })

    //品牌关键字
    $('#brandFirstChar').blur(function(){
        if ($('#brandFirstChar').val() == '' ) {
            $('#checkBrandFirstChar').html('<a style="color:red;" >&nbsp;&nbsp;&nbsp;关键字不为空</a>');
        }else{
            $('#checkBrandFirstChar').html('<a style="color:#00DB00;" >&nbsp;&nbsp;&nbsp;已验证</a>');
        }
    })

    //品牌选择
    $('#brandType').blur(function(){
        if ($('#brandType').val() == '请选择..') {
            $('#checkBrandType').html('<a style="color:red;" >请选择</a>');
        }else{
            $('#checkBrandType').html('<a style="color:#00DB00;" >已验证</a>');
        }
    })

    //经营类型
    $('#brand_operateType').blur(function(){
        if ($('#brand_operateType').val() == '请选择..') {
            $('#checkBrandOperateType').html('<a style="color:red;" >请选择</a>');
        }else{
            $('#checkBrandOperateType').html('<a style="color:#00DB00;" >已验证</a>');
        }
    })

    $('#nextStepBtn').click(function(){
        $.post("{:url('index/')}")
    })


</script>