<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>钱峰网-首页</title>
<link rel="stylesheet" type="text/css" href="__CSS__PATH__/style.css" />
<link rel="stylesheet" type="text/css" href="__CSS__PATH__/index.css" />
<script type="text/javascript" src="__JS__PATH__/jquery.js"></script>
<script type="text/javascript" src="__JS__PATH__/zhonglin.js"></script>
</head>

<body>
 {include file="index/head"}
    <!--banner 开始-->
    <div class="banner-box">
    	<div class="banner w1200">
        	<ul>
            	<li><a href="JavaScript:;"><img src="__IMAGE__PATH__/index/01.jpg" /></a></li>
                <li><a href="JavaScript:;"><img src="__IMAGE__PATH__/index/02.jpg" /></a></li>
                <li><a href="JavaScript:;"><img src="__IMAGE__PATH__/index/03.jpg" /></a></li>
                <li><a href="JavaScript:;"><img src="__IMAGE__PATH__/index/04.jpg" /></a></li>
                <li><a href="JavaScript:;"><img src="__IMAGE__PATH__/index/05.jpg" /></a></li>
                <li><a href="JavaScript:;"><img src="__IMAGE__PATH__/index/06.jpg" /></a></li>
                <div style="clear:both;"></div>
            </ul>
            <a href="JavaScript:;" class="bnr bnr-left"><</a>
            <a href="JavaScript:;" class="bnr bnr-right">></a>
        </div>
    </div>
    
    <!--广告栏-->
    <div class="advertisement w1200">
    	<p style="text-align:center;font-size:15px;color:#000;line-height:74px;">推荐优质商家</p>
    </div>
    
    <!--热门推荐-->
    <div class="hot-recommend w1200">
    	<h3>热门推荐</h3>
        <ul class="">
        	<li class="ys1">
            	<a href="{:url('index/shopslogo/shopslogo')}"><img src="__IMAGE__PATH__/hot-tu1.jpg" /></a>
                <div class="ys1-opt"></div>
                <div class="ys1-ft">
                	<p>最唯美<br /><span>时尚酒店</span></p>
                    <a href="{:url('index/shopslogo/shopslogo')}">点击有实惠</a>
                </div>
            </li>
            <li class="ys2">
            	<p>汽车保养</p>
                <a href="{:url('index/shopslogo/shopslogo')}" class="ys2-a1" style="margin-bottom:25px;">上门汽车保养1一元钱</a>
            	<a href="{:url('index/shopslogo/shopslogo')}"><img src="__IMAGE__PATH__/hot-tu2.jpg" /></a>
            </li>
            <li class="ys2">
            	<p>汽车保养</p>
                <a href="{:url('index/shopslogo/shopslogo')}" class="ys2-a1">上门汽车保养1一元钱</a>
                <a href="{:url('index/shopslogo/shopslogo')}"><img src="__IMAGE__PATH__/hot-tu3.jpg" /></a>
            </li>
            <li class="ys2" style=" width:298px;">
            	<p>汽车保养</p>
                <a href="{:url('index/shopslogo/shopslogo')}" class="ys2-a1">上门汽车保养1一元钱</a>
            	<a href="{:url('index/shopslogo/shopslogo')}"><img src="__IMAGE__PATH__/hot-tu4.jpg" /></a>
            </li>
            <li class="ys1">
            	<a href="{:url('index/shopslogo/shopslogo')}"><img src="__IMAGE__PATH__/hot-tu5.jpg" /></a>
                <div class="ys1-opt"></div>
                <div class="ys1-ft">
                	<p>最实惠KTV<br /><span>最佳组合</span></p>
                    <a href="{:url('index/shopslogo/shopslogo')}">点击有实惠</a>
                </div>
            </li>
            <li class="ys1">
            	<a href="{:url('index/shopslogo/shopslogo')}"><img src="__IMAGE__PATH__/hot-tu6.jpg" /></a>
                <div class="ys1-opt"></div>
                <div class="ys1-ft">
                	<p>最贴心家政<br /><span>包您满意</span></p>
                    <a href="{:url('index/shopslogo/shopslogo')}">点击有实惠</a>
                </div>
            </li>
            <li class="ys2">
            	<p>汽车保养</p>
                <a href="{:url('index/shopslogo/shopslogo')}" class="ys2-a1" style="margin-bottom:12px;">上门汽车保养1一元钱</a>
            	<a href="{:url('index/shopslogo/shopslogo')}"><img src="__IMAGE__PATH__/hot-tu7.jpg" /></a>
            </li>
            <li class="ys2" style="width:298px;">
            	<p>汽车保养</p>
                <a href="{:url('index/shopslogo/shopslogo')}" class="ys2-a1" style="margin-bottom:15px;">上门汽车保养1一元钱</a>
            	<a href="{:url('index/shopslogo/shopslogo')}"><img src="__IMAGE__PATH__/hot-tu8.jpg" /></a>
            </li>
            <div style="clear:both;"></div>
        </ul>
    </div>
    
    <!--广告栏-->
    <div class="advertisement w1200">
    	<p style="text-align:center;font-size:15px;color:#000;line-height:74px;">食品零食E3</p>
    </div>
    
    <!--食品分类-->
    <ul class="advertisement2">
    	<li><a href="{:url('index/shopslogo/shopslogo')}"><img src="__IMAGE__PATH__/lanyuelian.gif" /></a></li>
        <li><a href="{:url('index/shopslogo/shopslogo')}"><img src="__IMAGE__PATH__/lanyuelian.gif" /></a></li>
        <li><a href="{:url('index/shopslogo/shopslogo')}"><img src="__IMAGE__PATH__/lanyuelian.gif" /></a></li>
        <li><a href="{:url('index/shopslogo/shopslogo')}"><img src="__IMAGE__PATH__/lanyuelian.gif" /></a></li>
        <li><a href="{:url('index/shopslogo/shopslogo')}"><img src="__IMAGE__PATH__/lanyuelian.gif" /></a></li>
        <li><a href="{:url('index/shopslogo/shopslogo')}"><img src="__IMAGE__PATH__/lanyuelian.gif" /></a></li>
        <li><a href="{:url('index/shopslogo/shopslogo')}"><img src="__IMAGE__PATH__/lanyuelian.gif" /></a></li>
        <li style="border-right:none;"><a href="#"><img src="__IMAGE__PATH__/lanyuelian.gif" /></a></li>
        <div style="clear:both;"></div>
    </ul>
    
    <!--2 餐饮娱乐-->
    <div class="dining w1200">
    	<div class="title1">
        	<h3><span style="color:#FDA30C;">2F </span>食品小吃</h3>
            <ul>
            	<li><a href="{:url('index/details/details')}">豆制品小吃</a></li>
                <li><a href="{:url('index/details/details')}">辣条回忆</a></li>
                <li><a href="{:url('index/details/details')}">小当家方方面</a></li>
                <li><a href="{:url('index/details/details')}">桂花糕</a></li>
                <div style="clear:both;"></div>
            </ul>
            <div style="clear:both;"></div>
        </div>
        <div class="din-con">
        	<div class="lin-l f-l">
            	<div class="lin-l-t">
                	<a href="#"><img src="__IMAGE__PATH__/din-l-tu.gif" /></a>
                </div>
            	<div class="lin-l-b">
                	<a href="{:url('index/details/details')}">甜食</a>
                	<a href="{:url('index/details/details')}">辣条</a>
                	<a href="{:url('index/details/details')}">特色小吃</a>
                	<a href="{:url('index/details/details')}">地方小吃</a>
                	<a href="{:url('index/details/details')}">面包甜点</a>
                	<a href="{:url('index/details/details')}">零食</a>
                	<a href="{:url('index/details/details')}">茶馆</a>
                	<a href="{:url('index/details/details')}">KTV</a>
                	<a href="{:url('index/details/details')}">酒吧</a>
                	<a href="{:url('index/details/details')}">休闲吧</a>
                	<a href="{:url('index/details/details')}">台球厅</a>
                	<a href="{:url('index/details/details')}">网吧</a>
                	<a href="{:url('index/details/details')}">酒店</a>
                </div>
            </div>
        	<div class="lin-m f-l">
            	<dl>
                	<dt class="f-l"><a href="{:url('index/details/details')}"><img src="__IMAGE__PATH__/din-m-tu1.gif" /></a></dt>
                    <dd class="f-l">
                    	<h3><a href="{:url('index/details/details')}">新疆鲜核桃</a></h3>
                        <p class="p1">5斤装仅需68v顺丰包邮</p>
                        <p class="p2"><span>¥46.54</span>  起</p>
                    </dd>
                    <div style="clear:both;"></div>
                </dl>
                <dl>
                	<dt class="f-l"><a href="{:url('index/details/details')}"><img src="__IMAGE__PATH__/din-m-tu1.gif" /></a></dt>
                    <dd class="f-l">
                    	<h3><a href="{:url('index/details/details')}">新疆鲜核桃</a></h3>
                        <p class="p1">5斤装仅需68v顺丰包邮</p>
                        <p class="p2"><span>¥46.54</span>  起</p>
                    </dd>
                    <div style="clear:both;"></div>
                </dl>
                <dl style="border-bottom:none;">
                	<dt class="f-l"><a href="{:url('index/details/details')}"><img src="__IMAGE__PATH__/din-m-tu1.gif" /></a></dt>
                    <dd class="f-l">
                    	<h3><a href="{:url('index/details/details')}">新疆鲜核桃</a></h3>
                        <p class="p1">5斤装仅需68v顺丰包邮</p>
                        <p class="p2"><span>¥46.54</span>  起</p>
                    </dd>
                    <div style="clear:both;"></div>
                </dl>
            </div>
        	<div class="lin-r f-l">
            	<dl>
                	<dt class="f-l"><a href="{:url('index/details/details')}"><img src="__IMAGE__PATH__/din-r-tu1.gif" /></a></dt>
                    <dd class="f-l">
                    	<h3><a href="{:url('index/details/details')}">7月轰炸美食城</a></h3>
                        <p class="p1">包邮爆款低至</p>
                        <p class="p2">买一赠一</p>
                    </dd>
                    <div style="clear:both;"></div>
                </dl>
                <dl style="border-right:none;">
                	<dt class="f-l"><a href="{:url('index/details/details')}"><img src="__IMAGE__PATH__/din-r-tu1.gif" /></a></dt>
                    <dd class="f-l">
                    	<h3><a href="{:url('index/details/details')}">7月轰炸美食城</a></h3>
                        <p class="p1">包邮爆款低至</p>
                        <p class="p2">买一赠一</p>
                    </dd>
                    <div style="clear:both;"></div>
                </dl>
            	<dl>
                	<dt class="f-l"><a href="{:url('index/details/details')}"><img src="__IMAGE__PATH__/din-r-tu1.gif" /></a></dt>
                    <dd class="f-l">
                    	<h3><a href="{:url('index/details/details')}">7月轰炸美食城</a></h3>
                        <p class="p1">包邮爆款低至</p>
                        <p class="p2">买一赠一</p>
                    </dd>
                    <div style="clear:both;"></div>
                </dl>
                <dl style="border-right:none;">
                	<dt class="f-l"><a href="{:url('index/details/details')}"><img src="__IMAGE__PATH__/din-r-tu1.gif" /></a></dt>
                    <dd class="f-l">
                    	<h3><a href="{:url('index/details/details')}">7月轰炸美食城</a></h3>
                        <p class="p1">包邮爆款低至</p>
                        <p class="p2">买一赠一</p>
                    </dd>
                    <div style="clear:both;"></div>
                </dl>
            	<dl>
                	<dt class="f-l"><a href="{:url('index/details/details')}"><img src="__IMAGE__PATH__/din-r-tu1.gif" /></a></dt>
                    <dd class="f-l">
                    	<h3><a href="{:url('index/details/details')}">7月轰炸美食城</a></h3>
                        <p class="p1">包邮爆款低至</p>
                        <p class="p2">买一赠一</p>
                    </dd>
                    <div style="clear:both;"></div>
                </dl>
                <dl style="border-right:none;">
                	<dt class="f-l"><a href="{:url('index/details/details')}"><img src="__IMAGE__PATH__/din-r-tu1.gif" /></a></dt>
                    <dd class="f-l">
                    	<h3><a href="{:url('index/details/details')}">7月轰炸美食城</a></h3>
                        <p class="p1">包邮爆款低至</p>
                        <p class="p2">买一赠一</p>
                    </dd>
                    <div style="clear:both;"></div>
                </dl>
            	<dl style="border-bottom:none">
                	<dt class="f-l"><a href="{:url('index/details/details')}"><img src="__IMAGE__PATH__/din-r-tu1.gif" /></a></dt>
                    <dd class="f-l">
                    	<h3><a href="{:url('index/details/details')}">7月轰炸美食城</a></h3>
                        <p class="p1">包邮爆款低至</p>
                        <p class="p2">买一赠一</p>
                    </dd>
                    <div style="clear:both;"></div>
                </dl>
                <dl style="border-right:none;border-bottom:none">
                	<dt class="f-l"><a href="{:url('index/details/details')}"><img src="__IMAGE__PATH__/din-r-tu1.gif" /></a></dt>
                    <dd class="f-l">
                    	<h3><a href="{:url('index/details/details')}">7月轰炸美食城</a></h3>
                        <p class="p1">包邮爆款低至</p>
                        <p class="p2">买一赠一</p>
                    </dd>
                    <div style="clear:both;"></div>
                </dl>
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>
    
 
    
    <!--底部服务-->
    <div class="ft-service">
    	<div class="w1200">
        	<div class="sv-con-l2 f-l">
            	<dl>
                	<dt><a href="#">新手上路</a></dt>
                    <dd>
                    	<a href="#">购物流程</a>
                    	<a href="#">在线支付</a>
                    </dd>
                </dl>
                <dl>
                	<dt><a href="#">配送方式</a></dt>
                    <dd>
                    	<a href="#">货到付款区域</a>
                    	<a href="#">配送费标准</a>
                    </dd>
                </dl>
                <dl>
                	<dt><a href="#">购物指南</a></dt>
                    <dd>
                    	<a href="#">常见问题</a>
                    	<a href="#">订购流程</a>
                    </dd>
                </dl>
                <dl>
                	<dt><a href="#">售后服务</a></dt>
                    <dd>
                    	<a href="#">售后服务保障</a>
                    	<a href="#">退款说明</a>
                    	<a href="#">新手选购商品总则</a>
                    </dd>
                </dl>
                <dl>
                	<dt><a href="aboutMe.html">关于我们</a></dt>
                    <dd>
                    	<a href="#">投诉与建议</a>
                    </dd>
                </dl>
                <div style="clear:both;"></div>
            </div>
        	<div class="sv-con-r2 f-r">
            	<p class="sv-r-tle">187-8660-5539</p>
            	<p>周一至周五9:00-17:30</p>
            	<p>（仅收市话费）</p>
            	<a href="#" class="zxkf">24小时在线客服</a>
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>
    
    <!--底部 版权-->
    <div class="footer w1200">
    	<p>
        	<a href="#">关于我们</a><span>|</span>
        	<a href="#">友情链接</a><span>|</span>
        	<a href="#">宅客微购社区</a><span>|</span>
        	<a href="#">诚征英才</a><span>|</span>
        	<a href="#">商家登录</a><span>|</span>
        	<a href="#">供应商登录</a><span>|</span>
        	<a href="#">热门搜索</a><span>|</span>
        	<a href="#">宅客微购新品</a><span>|</span>
        	<a href="#">开放平台</a>
        </p>
        <p>
        	沪ICP备13044278号<span>|</span>合字B1.B2-20130004<span>|</span>营业执照<span>|</span>互联网药品信息服务资格证<span>|</span>互联网药品交易服务资格证
        </p>
    </div>
</body>
</html>
