<!DOCTYPE html PUBLIC>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>确认订单</title>
<link rel="stylesheet" type="text/css" href="__CSS__INDEX__/style.css" />
<link rel="stylesheet" type="text/css" href="__CSS__INDEX__/shopping-mall-index.css" />
<script type="text/javascript" src="__JS__INDEX__/jquery.js"></script>
<script type="text/javascript" src="__JS__INDEX__/zhonglin.js"></script>
</head>

<body style="position:relative;">
{include file="index/head"}
    
    <!--内容开始-->
    <div class="payment-interface w1200">
        <div class="pay-info">
            <div class="info-tit">
                <h3>选择收货地址</h3>
            </div>
            <ul class="pay-dz">
            {volist name='address' id='value'}
                <li class="current">
                    <h3><span class="sp1">{$value.province}</span><span class="sp2">{$value.city}</span>（<span class="sp3">{$value.ress_name}</span> 收）</h3>
                    <p><span class="sp1">{$value.detailed_ress}</span><span class="sp2">{$value.ress_phone}</span></p>
                    <a href="{:url('index/personal/address')}" xiugai="">修改</a>
                </li>
            {/volist}
                <a href="{:url('index/personal/address')}">添加收货地址</a>
                <div style="clear:both;"></div>
            </ul>
            <P class="pay-xgdz">修改地址和使用新地址样式一样。</P>
        </div>


        <div class="pay-info">
            <div class="info-tit" style="border-bottom:0;">
                <h3>订单信息</h3>
            </div>
        </div>
       
        <div class="cart-con-info">
        {volist name='shoplist' id='vo'}
        {if $vo
        ['is_remove'] == 0}
            <div class="cart-con-tit" style="margin:20px 0 5px;">
                <p class="p1" style="width:400px;">
                    <input type="checkbox" value="" name="hobby">
                    <span>天狗商城自营店</span>
                </p>
                <p class="p3" style="width:145px;">规格</p>
                <p class="p4" style="width:130px;">数量</p>
                <p class="p8" style="width:75px;">运费</p>
                <p class="p5">单价（元）</p>
                <p class="p6" style="width:173px;">金额（元）</p>
                <p class="p7">配送方式</p>
            </div> 

            <div class="info-mid">
                <input type="hidden"  id="shop_id" value="{$vo.shop_id}" style="display:none;"  />
                <div class="mid-tu f-l">
                    <a href="#"><img src="{$vo.shop_logo}" width="120" /></a>
                </div>
                <div class="mid-font f-l" style="margin-right:40px;">
                    <a href="#" style="width:205px" id="shopName" >{$vo.shop_name}<br></a>
                </div>
                <div class="mid-guige1 f-l" style="margin-right:40px;">
                    <p></p>
                    <p>24*24</p>
                </div>
                <div class="mid-sl f-l" style="margin:10px 54px 0px 0px;">
                    <a></a>
                    <input type="text" value="{$vo.number}" id="number" disabled="true" style="width:50px;" />
                    <a></a>
                </div>
                <p class="mid-yunfei f-l">(免运费)</p>
                <p class="mid-dj f-l">¥ {$vo.shop_price}</p>
               <p class="mid-je f-l" style="margin:10px 110px 0px 0px;"><span>¥</span>{$vo.shop_price*$vo.number}</p>
                <div class="mid-chaozuo f-l">
                    <select id="express" >
                        <option value="0" >邮政快递</option>
                        <option value="1" >圆通速递</option>
                        <option value="2" >顺丰快递</option>
                        <option value="3" >申通快递</option>
                    </select>
                </div>
                <div style="clear:both;"></div>
            </div>
            {/if}
         {/volist}
            <div class="info-heji">
                <p class="f-r">店铺合计(含运费)：¥<span>{$setlement}</span></p>
                <h3 class="f-r">订单号：<span>{$keyID}</span></h3>
            </div>  

            <div class="info-tijiao">
                <p class="p1">实付款：<span id="setlement" >{$setlement}</span></p>
                <button class="btn" onclick="submitOrder();" >支付</button>
                <script type="text/javascript">
                //提交
                function submitOrder(){
                    // alert(11);
                    var shop_id = $('#shop_id').val();
                    var name = $('#shopName').html(); 
                    var express = $('#express').val();
                    var number = $('#number').val();
                    var setlement = $('#setlement').html();
                    $.post("{:url('index/personal/orderInsert')}",{shop_id:shop_id,shop_name:name,express:express,number:number,order_money:setlement},function(data){
                        if (data == 1) {
                           document.location = "{:url('index/pay/payment')}";
                        }
                    },'json')
                }
                </script>
            </div>
        </div>
  
    </div>
    
    <!--底部服务-->
    <div class="ft-service">
        <div class="w1200">
            <div class="sv-con-l2 f-l">
                <dl>
                    <dt><a href="#">新手上路</a></dt>
                    <dd>
                        <a href="#">购物流程</a>
                        <a href="#">在线支付</a>
                    </dd>
                </dl>
                <dl>
                    <dt><a href="#">配送方式</a></dt>
                    <dd>
                        <a href="#">货到付款区域</a>
                        <a href="#">配送费标准</a>
                    </dd>
                </dl>
                <dl>
                    <dt><a href="#">购物指南</a></dt>
                    <dd>
                        <a href="#">常见问题</a>
                        <a href="#">订购流程</a>
                    </dd>
                </dl>
                <dl>
                    <dt><a href="#">售后服务</a></dt>
                    <dd>
                        <a href="#">售后服务保障</a>
                        <a href="#">退款说明</a>
                        <a href="#">新手选购商品总则</a>
                    </dd>
                </dl>
                <dl>
                    <dt><a href="#">关于我们</a></dt>
                    <dd>
                        <a href="#">投诉与建议</a>
                    </dd>
                </dl>
                <div style="clear:both;"></div>
            </div>
            <div class="sv-con-r2 f-r">
                <p class="sv-r-tle">187-8660-5539</p>
                <p>周一至周五9:00-17:30</p>
                <p>（仅收市话费）</p>
                <a href="#" class="zxkf">24小时在线客服</a>
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>
    
    <!--底部 版权-->
    <div class="footer w1200">
        <p>
            <a href="#">关于我们</a><span>|</span>
            <a href="#">友情链接</a><span>|</span>
            <a href="#">宅客微购社区</a><span>|</span>
            <a href="#">诚征英才</a><span>|</span>
            <a href="#">商家登录</a><span>|</span>
            <a href="#">供应商登录</a><span>|</span>
            <a href="#">热门搜索</a><span>|</span>
            <a href="#">宅客微购新品</a><span>|</span>
            <a href="#">开放平台</a>
        </p>
        <p>
            沪ICP备13044278号<span>|</span>合字B1.B2-20130004<span>|</span>营业执照<span>|</span>互联网药品信息服务资格证<span>|</span>互联网药品交易服务资格证
        </p>
    </div>
    
    <!--确认订单（新增地址）-->
    <div class="confirmation-tanchuang" xgdz1="">
        <div class="tanchuang-bg"></div>
        <div class="tanchuang-con">
            <div class="tc-title">
                <h3>新增地址</h3>
                <a href="JavaScript:;" dz-guan=""><img src="images/close-select-city.gif" /></a>
                <div style="clear:both;"></div>
            </div>
            <ul class="tc-con2">
                <li class="tc-li1">
                    <p class="l-p">所在地区<span>*</span></p>
                    <div class="xl-dz">
                        <div class="dz-left f-l">
                            <p>新疆</p>
                            <ul>
                                <li class="current"><a href="#">新疆</a></li>
                                <li><a href="#">甘肃</a></li>
                                <li><a href="#">宁夏</a></li>
                                <li><a href="#">青海</a></li>
                                <li><a href="#">重庆</a></li>
                                <li><a href="#">长寿</a></li>
                            </ul>
                        </div>
                        <div class="dz-right f-l">
                            <p>乌鲁木齐</p>
                            <ul>
                                <li class="current"><a href="#">乌鲁木齐</a></li>
                                <li><a href="#">昌吉</a></li>
                                <li><a href="#">巴音</a></li>
                                <li><a href="#">郭楞</a></li>
                                <li><a href="#">伊犁</a></li>
                                <li><a href="#">阿克苏</a></li>
                                <li><a href="#">喀什</a></li>
                                <li><a href="#">哈密</a></li>
                                <li><a href="#">克拉玛依</a></li>
                                <li><a href="#">博尔塔拉</a></li>
                                <li><a href="#">吐鲁番</a></li>
                                <li><a href="#">和田</a></li>
                                <li><a href="#">石河子</a></li>
                                <li><a href="#">克孜勒苏</a></li>
                                <li><a href="#">阿拉尔</a></li>
                                <li><a href="#">五家渠</a></li>
                                <li><a href="#">图木舒克</a></li>
                                <li><a href="#">库尔勒</a></li>
                                <div style="clear:both;"></div>
                            </ul>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                    <div style="clear:both;"></div>
                </li>
                <li class="tc-li1">
                    <p class="l-p">详细地址<span>*</span></p>
                    <textarea class="textarea1" placeholder="请如实填写您的详细信息，如街道名称、门牌号、楼层号和房间号。"></textarea>
                    <div style="clear:both;"></div>
                </li>
                <li class="tc-li1">
                    <p class="l-p">邮政编码<span></span></p>
                    <input type="text" />
                    <div style="clear:both;"></div>
                </li>
                <li class="tc-li1">
                    <p class="l-p">收货人姓名<span>*</span></p>
                    <input type="text" />
                    <div style="clear:both;"></div>
                </li>
                <li class="tc-li1">
                    <p class="l-p">联系电话<span>*</span></p>
                    <input type="text" />
                    <div style="clear:both;"></div>
                </li>
            </ul>
            <button class="btn-pst2">保存</button>
        </div>
    </div>
    
    <!--修改地址-->
    <div class="confirmation-tanchuang" xgdz2="">
        <div class="tanchuang-bg"></div>
        <div class="tanchuang-con">
            <div class="tc-title">
                <h3>新增地址</h3>
                <a href="JavaScript:;" dz-guan=""><img src="images/close-select-city.gif" /></a>
                <div style="clear:both;"></div>
            </div>
            <ul class="tc-con2">
                <li class="tc-li1">
                    <p class="l-p">所在地区<span>*</span></p>
                    <div class="xl-dz">
                        <div class="dz-left f-l">
                            <p>北京</p>
                            <ul>
                                <li class="current"><a href="#">新疆</a></li>
                                <li><a href="#">甘肃</a></li>
                                <li><a href="#">宁夏</a></li>
                                <li><a href="#">青海</a></li>
                                <li><a href="#">重庆</a></li>
                                <li><a href="#">长寿</a></li>
                            </ul>
                        </div>
                        <div class="dz-right f-l">
                            <p>天安门</p>
                            <ul>
                                <li class="current"><a href="#">乌鲁木齐</a></li>
                                <li><a href="#">昌吉</a></li>
                                <li><a href="#">巴音</a></li>
                                <li><a href="#">郭楞</a></li>
                                <li><a href="#">伊犁</a></li>
                                <li><a href="#">阿克苏</a></li>
                                <li><a href="#">喀什</a></li>
                                <li><a href="#">哈密</a></li>
                                <li><a href="#">克拉玛依</a></li>
                                <li><a href="#">博尔塔拉</a></li>
                                <li><a href="#">吐鲁番</a></li>
                                <li><a href="#">和田</a></li>
                                <li><a href="#">石河子</a></li>
                                <li><a href="#">克孜勒苏</a></li>
                                <li><a href="#">阿拉尔</a></li>
                                <li><a href="#">五家渠</a></li>
                                <li><a href="#">图木舒克</a></li>
                                <li><a href="#">库尔勒</a></li>
                                <div style="clear:both;"></div>
                            </ul>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                    <div style="clear:both;"></div>
                </li>
                <li class="tc-li1">
                    <p class="l-p">详细地址<span>*</span></p>
                    <textarea class="textarea1" placeholder="请如实填写您的详细信息，如街道名称、门牌号、楼层号和房间号。"></textarea>
                    <div style="clear:both;"></div>
                </li>
                <li class="tc-li1">
                    <p class="l-p">邮政编码<span></span></p>
                    <input type="text" />
                    <div style="clear:both;"></div>
                </li>
                <li class="tc-li1">
                    <p class="l-p">收货人姓名<span>*</span></p>
                    <input type="text" class="shxm" />
                    <div style="clear:both;"></div>
                </li>
                <li class="tc-li1">
                    <p class="l-p">联系电话<span>*</span></p>
                    <input type="text" class="lxdh" />
                    <div style="clear:both;"></div>
                </li>
            </ul>
            <button class="btn-pst2">保存</button>
        </div>
    </div>
</body>
</html>
